
/* global */
@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/bakbakone/v3/zOL54pXAl6RI-p_ardnu-cNkvg.woff2);
}

@font-face {
	font-family: ammo;
	src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2);
}

#aHolder,
#endAHolder,
#voiceDisplay,
#streamContainer,
.youNewDiv,
#challIcon,
#ammoMax,
#ammoIcon,
.weapKey,
#timerIcon,
#pingIcon {
    display: none !important;
}

/* health */
#hudClassIcon {
    width: 90px;
    height: 90px;
    position: fixed;
    background: none;
    border-radius: 0;
    left: 1.2%;
    bottom: 2.2%;
    z-index: 1;
}

#healthValueHolder {
    position: fixed;
    width: 300px;
    height: 100px;
    bottom: 1%;
}

#healthValue {
    font-size: 35px;
    position: fixed;
    left: 7.6%;
}

.healthBarSeg {
    width: -webkit-fill-available;
    margin-right: -1px;
    border-radius: unset;
    background: transparent;
}

#healthBar {
    width: 200px;
    height: 25px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 2.5%;
    left: 11%;
    transform: translateX(-50%);
    border-radius: 0;
}

.hpBSeg {
    border-radius: unset;
    box-shadow: unset;
}

/* ammo */
#ammoDisplay {
    position: fixed;
    background-color: transparent;
    transform: none;
    width: 50px;
    height: 6px;
    top: calc(50% + 35px);
    left: calc(50% - 25px);
    padding: 0;
    padding-top: 0;
    padding-left: 0;
    border-radius: 0;
}

#ammoVal {
    font-family: ammo;
	  position: fixed;
	  font-size: 96px;
	  right: 125px;
	  bottom: 25px;
}

#ammoIcon {
	  display: inline-block !important;
	  position: fixed;
	  width: 50px;
	  height: 50px;
	  right: 50px;
	  bottom: 55px;
	  margin-right: 0;
	  margin-left: 0;
	  filter: brightness(0) invert(1) drop-shadow(2px 2px 3px rgba(30, 30, 30, .5));
}

/* waepon */
#weapDisplay[style*="block"] {
	  display: block !important;
}

#weapDisplay {
    bottom: 15px;
    right: 50%;
    transform: translateX(50%);
}

.weapItem {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.weapIcon {
    opacity: 0 !important;	
}

.weapIcon[style*="1"] {
    opacity: 1 !important;
}

#weapIconMel {
    margin: 0 !important;
    margin-bottom: -15px !important;
}

/* count */
.countIcon {
    background-color: rgba(0, 0, 0, 0.2);
}

/* chat */
#chatHolder {
    transition: .3s;
}

#chatInput {
    background: none;
}

/* timer */
#timerDisplay {
    position: fixed;
    background: none;
    left: 47.5%;
    top: 4%;
}

#timerVal {
    font-size: 29px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4), 2px 2px rgba(0, 0, 0, 0.4);
}

/* fps */
#ingameFPS {
	  color: #fff !important;
	  visibility: visible;
}

#fpsDisplay {
    visibility: hidden;
}

/* reload */
#reloadMsg {
    background: linear-gradient(to right,rgba(0,0,0,0) 0%, rgba(251, 114, 159, .6) 40%,rgba(251, 114, 159, .6) 60%,rgba(0,0,0,0) 100%);
    visibility: hidden;
    line-height: unset;
    margin-right: unset;
    left: unset;
    transform: none;
    padding: unset;
    z-index: 19
}
  
#reloadMsg::after {
    content: '';
    position: fixed;
    bottom: 7.5%;
    right: 34.5%;
    background-color: var(--accent2);
    width: 35px;
    height: 35px;
    font-family: hpammo;
    color: #000;
    font-size: 24px;
    visibility: visible;
    clip-path: polygon(50% 15%, 0% 100%, 100% 100%);
    line-height: 47.5px;
    margin-right: 7.5px;
    margin-bottom: 4px;
}
  
#reloadMsg::before {
    content: '';
    position: fixed;
    bottom: 3%; 
    right: 33%;
    background-color: #000;
    width: 50px;
    height: 50px;
    visibility: visible;
    clip-path: polygon(50% 15%, 0% 100%, 100% 100%);
}
